@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Patrick+Hand&family=Shadows+Into+Light&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
  font-family: "Nanum Myeongjo", serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.four-tour-producer-chart-container {
}
