@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Patrick+Hand&family=Shadows+Into+Light&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
  font-family: "Nanum Myeongjo", serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-in-container {
  display: flex;
  gap: 25px;
}

.one-vs-one-buy-in,
.four-producer-tour-buy-in,
.eight-producer-tour-buy-in {
  padding: 10px;
  border: 1px solid black;
  text-decoration: none;
  color: inherit;
}

.one-vs-one-buy-in:hover,
.four-producer-tour-buy-in:hover,
.eight-producer-tour-buy-in:hover {
  border: 1px solid white;
  transform: scale(1.05);
}

.one-vs-one-buy-in-title,
.four-producer-tour-buy-in-title,
.eight-producer-tour-buy-in-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.one-vs-one-buy-in-price,
.four-producer-tour-buy-in-price,
.eight-producer-tour-buy-in-price {
  display: flex;
  gap: 7.5px;
  align-items: center;
}

.avax-coin-icon {
  width: 20px;
  height: 20px;
}
