@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Patrick+Hand&family=Shadows+Into+Light&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: white;
  font-family: "Nanum Myeongjo", serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-music-container {
  display: flex;
  gap: 35px;
}

.round-one-img {
  width: 500px;
  height: 500px;
}

.submit-music-form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submit-music-form-title {
  font-size: 30px;
}

.round-one-title {
  font-size: 36px;
  font-weight: bold;
}

.submit-music-price {
  display: flex;
  gap: 7.5px;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 50px;
}

.avax-coin-icon {
  width: 20px;
  height: 20px;
}

.producer-name-input {
  font-size: 32px;
  height: 50px;
  width: 350px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.music-track-input {
  margin-top: 10px;
}

.submit-music-btn {
  /* background-color: #7fccf6; */
  background-color: #1c8a43;
  color: white;
  font-size: 22px;
  width: 350px;
  border: none;
  padding: 15px 20px;
  margin-top: 50px;
}
