{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'homepage/css/8_tour_producer_chart.style.css' %}"
    />
    <title>BRING YOUR OWN BEATS</title>
  </head>
  <body>
    <div class="eight-tour-producer-chart-container">
      <div class="grand-prize">
        <p class="grand-prize-title">Grand Prize</p>
        <p class="grand-prize-amount">0.363434 AVAX</p>
      </div>
      <div class="eight-tour-chart-element round-one-one">
        <div class="round-one-one-one contestant">TABLE MANNERZ</div>
        <div class="vs">vs</div>
        <div class="round-one-one-two contestant">FAZDAI</div>
      </div>
      <div class="eight-tour-chart-element round-two-one">
        <div class="round-two-one-one contestant">TABLE MANNERZ</div>
        <div class="vs round-two-vs">vs</div>
        <div class="round-two-one-two contestant">CHOIR BOI</div>
      </div>
      <div class="eight-tour-chart-element round-three-one">
        <div class="round-three-one-one contestant">CHOIR BOI</div>
        <div class="vs round-three-vs">vs</div>
        <div class="round-three-one-two contestant">NEVIK</div>
      </div>
      <div class="eight-tour-chart-element round-four-one">
        <div class="round-four-one-one contestant winner">NEVIK</div>
      </div>
      <div class="eight-tour-chart-element round-one-two">
        <div class="round-one-two-one contestant">CHOIR BOI</div>
        <div class="vs">vs</div>
        <div class="round-one-two-two contestant">DJ STEIN</div>
      </div>
      <div class="eight-tour-chart-element round-one-three">
        <div class="round-one-three-one contestant">BOYGEM</div>
        <div class="vs">vs</div>
        <div class="round-one-three-two contestant">BEATSBYADD</div>
      </div>
      <div class="eight-tour-chart-element round-two-two">
        <div class="round-two-two-one contestant">BEATSBYADD</div>
        <div class="vs round-two-vs">vs</div>
        <div class="round-two-two-two contestant">NEVIK</div>
      </div>
      <div class="eight-tour-chart-element round-one-four">
        <div class="round-one-four-one contestant">BOTTLE MANE</div>
        <div class="vs">vs</div>
        <div class="round-one-four-two contestant">NEVIK</div>
      </div>
    </div>
  </body>
</html>
