{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'homepage/css/4_tour_producer_chart.style.css' %}"
    />
    <title>BRING YOUR OWN BEATS</title>
  </head>
  <body>
    <div class="four-tour-producer-chart-container">
      <div class="grand-prize">
        <p class="grand-prize-title">Grand Prize</p>
        <p class="grand-prize-amount">0.363434 AVAX</p>
      </div>
      <div class="four-tour-chart-element round-one-one">
        <div class="round-one-one-one contestant">John</div>
        <div class="vs">vs</div>
        <div class="round-one-one-two contestant">Chen</div>
      </div>
      <div class="four-tour-chart-element round-two-one">
        <div class="round-two-one-one contestant">Chen</div>
        <div class="vs">vs</div>
        <div class="round-two-one-two contestant">Hera</div>
      </div>
      <div class="four-tour-chart-element round-three">
        <div class="round-three contestant winner">Chen</div>
      </div>
      <div class="four-tour-chart-element round-one-two">
        <div class="round-one-two-one contestant">Rita</div>
        <div class="vs">vs</div>
        <div class="round-one-two-two contestant">Hera</div>
      </div>
    </div>
  </body>
</html>
