{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'homepage/css/buy-in.style.css' %}"
    />
    <title>BRING YOUR OWN BEATS</title>
  </head>
  <body>
    <div class="buy-in-container">
      <div class="prize-money-img">
        <img
          src="{% static 'homepage/asset/image/prize-money-big.jpg' %}"
          alt="prize-money"
          class="prize-money-big"
        />
      </div>
      <div class="buy-in-form">
        <p class="buy-in-form-title">{{ buy_in_type }}</p>
        <div class="buy-in-price">
          <img
            src="{% static 'homepage/asset/icon/avax-coin.svg' %}"
            class="avax-coin-icon"
            alt="avax-coin"
          />
          <span>{{ buy_in_price }} AVAX</span>
        </div>
        <form action="purchase-ticket" method="POST">
          {% csrf_token %}
          <p class="producer-name-title">Producer Name</p>
          <input type="text" name="producer_name" class="producer-name-input" />
          <p class="quantity-title">Quantity</p>
          <input
            type="number"
            name="buy_in_quantity"
            class="buy-in-quantity-input"
          />
          <br />
          <input
            type="submit"
            value="PURCHASE TICKET"
            class="purchase-ticket-btn"
          />
        </form>
      </div>
    </div>
  </body>
</html>
