{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'homepage/css/buy_in.style.css' %}"
    />
    <title>BRING YOUR OWN BEATS</title>
  </head>
  <body>
    <div class="buy-in-container">
      <a href="1-v-1-buy-in" class="one-vs-one-buy-in">
        <img
          src="{% static 'homepage/asset/image/prize-money.jpg' %}"
          alt="one-vs-one-prize-money"
        />
        <p class="one-vs-one-buy-in-title">1 vs 1 Buy In</p>
        <div class="one-vs-one-buy-in-price">
          <img
            src="{% static 'homepage/asset/icon/avax-coin.svg' %}"
            class="avax-coin-icon"
            alt="avax-coin"
          />
          <span>0.058746 AVAX</span>
        </div>
      </a>
      <a href="" class="four-producer-tour-buy-in">
        <img
          src="{% static 'homepage/asset/image/prize-money.jpg' %}"
          alt="four-producer-tour-prize-money"
        />
        <p class="four-producer-tour-buy-in-title">
          4 Producer Tournament Buy In
        </p>
        <div class="four-producer-tour-buy-in-price">
          <img
            src="{% static 'homepage/asset/icon/avax-coin.svg' %}"
            class="avax-coin-icon"
            alt="avax-coin"
          />
          <span>0.058746 AVAX</span>
        </div>
      </a>
      <a href="" class="eight-producer-tour-buy-in">
        <img
          src="{% static 'homepage/asset/image/prize-money.jpg' %}"
          alt="eight-producer-tour-prize-money"
        />
        <p class="eight-producer-tour-buy-in-title">
          8 Producer Tournament Buy In
        </p>
        <div class="eight-producer-tour-buy-in-price">
          <img
            src="{% static 'homepage/asset/icon/avax-coin.svg' %}"
            class="avax-coin-icon"
            alt="avax-coin"
          />
          <span>0.058746 AVAX</span>
        </div>
      </a>
    </div>
  </body>
</html>
