{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% static 'homepage/css/homepage.style.css' %}"
    />
    <title>BRING YOUR OWN BEATS</title>
  </head>
  <body>
    <div class="homepage-container">
      {% if user.is_authenticated %}
      <h1 class="homepage-title">Bring Your Own Beats</h1>
      <div class="actions">
        <div class="rules">
          <button class="logout-btn">
            <a href="logout" class="logout-link">Logout</a>
          </button>
        </div>
        <div class="connect-wallet">
          <button class="connect-wallet-btn">Connect Wallet</button>
          <p>Connect your wallet to start a BATTLE!</p>
        </div>
      </div>
      <form action="buy-in" method="POST" class="tournaments">
        {% csrf_token %}
        <h2 class="tournaments-title">Producer Buy In Tournament</h2>
        <div class="available-tournaments">
          <a href="buy-in" class="one-vs-one">
            <span class="one-vs-one-status">
              OPEN
              <img
                src="{% static 'homepage/asset/icon/open-status.ico' %}"
                alt="one-vs-one-is-open"
                class="one-vs-one-open-status"
              />
            </span>
            <input
              type="submit"
              name="one_vs_one"
              value="1 vs 1"
              class="one-vs-one-btn"
            />
          </a>
          <a href="buy-in" class="four-producer-tour">
            <span class="four-producer-tour-status">
              OPEN
              <img
                src="{% static 'homepage/asset/icon/open-status.ico' %}"
                alt="four-producer-tour-is-open"
                class="four-producer-tour-open-status"
              />
            </span>
            <input
              type="submit"
              name="four_producer"
              value="4 Producer Tour"
              class="four-producer-btn"
            />
          </a>
          <a href="buy-in" class="eight-producer-tour">
            <span class="eight-producer-tour-status">
              OPEN
              <img
                src="{% static 'homepage/asset/icon/open-status.ico' %}"
                alt="eight-producer-tour-is-open"
                class="eight-producer-tour-open-status"
              />
            </span>
            <input
              type="submit"
              name="eight_producer"
              value="8 Producer Tour"
              class="eight-producer-btn"
            />
          </a>
        </div>
      </form>
      {% else %}
      <div class="not-logged-in">PLEASE LOGIN/REGISTER</div>
      {% endif %}
    </div>
  </body>
</html>
